doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Template | Sandbox
    link(rel='stylesheet' href='./src/index.css')
    script.
      (function(d) { var config = { kitId: 'lrz7qau', scriptTimeout: 3000, async: true }, h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    script(src='../../assets/scripts/cssbrowserselector.js')
    script(src='../../assets/scripts/seokkihangul-beta.js' defer)

  body
    #container
      p.tt.
        M고딕 210 + Calibri
      p.tt.
        안녕를B를하세요 Missed Call 입니다 2024 404 에러(“페이지를 찾을 수 없음”)는 사용자가 웹 브라우저에 잘못된 URL을 입력하거나 해당 페이지가 더 이상 존재하지 않을 때 발생한다. 그때 웹사이트는 사용자에게 ‘당신이 요청한 페이지를 찾을 수 없었다’는 의미로 404 에러 페이지를 보여준다. OPP의 2025년 봄 구성원들은 이 404 에러 페이지를 다양한 관점과 방법으로 연구하고, 그 결실을 4월 말에 온라인 전시의 형태로 발표한 뒤 미련 없이 헤어진다.
      p.tt.
        어떤 블로그를 만들 것인가???